$primary: #00966b;
$white: #fff;

.card {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    height: 89px;
    position: relative;

    &-icon {
        display: flex;
        align-items: center;
        position: absolute;
        left: 20px;
        background-color: #00966b;
        color: #fff;
        font-size: 30px;
        padding: 20px 20px;
        border-radius: 45px;
    }

    &-content {
        height: 100%;
        width: 100%;
        place-items: flex-end;
        display: flex;
        flex-direction: column;
        padding: 20px 20px;

        &-title {
            font-size: 18px;
            font-weight: bold;
        }

        &-count {
            color: $primary;
        }
    }
}